@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");
@import url(fontawesome-all.min.css);


html {
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.5em;
    background-color: #ffffff;
}

.image {
    margin: 0;
    padding: 0;
    height: 40vh;
    width: 100%;
}

.image2 {
    margin: 0;
    padding: 0;
    width: 100vw;

}

.titre {
    text-align: center;
}

.titre_slider {
    text-align: center;
}


.container {
    display: flex;
    align-content: space-between;
    text-decoration: none;
    flex-direction: column;
}

.container_items {
    display: flex;
    text-decoration: none;
    flex-direction: column;
}


.descriptif {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.65;
    margin: 0 0 2rem 0;
    font-size: 1.1rem;

}

.style {
    text-indent: 15px;
}



button {
    padding: 15px 10px 10px 15px;
    line-height: 20px;
    border: solid 1px;
    border-radius: 50px;
    border-color: grey;
    background-color: transparent;
    transition:
        background-color 3s ease-in-out,
        box-shadow 3s ease-in-out;
    margin-bottom: 4vh;
    margin-left: 6vw;
    margin-right: 6vw;


}

.w-50 {
    width: 50%;
}

.p-2 {
    padding: 2em;
}

button:hover {
    border-color: rgb(71, 197, 184);
    color: turquoise;

}

@media screen and (min-width: 768px) {
    .flex-sm-row-reverse {
        flex-direction: row-reverse;
    }

    .flex-sm-row {
        flex-direction: row;
    }

    .container {
        display: flex;
        align-content: space-between;
        text-decoration: none;
    }


    .titre {
        padding: 130px 40px;
        font-size: 35px;
        text-align: inherit;
    }

    .button {
        margin-left: 4vw;
    }

    .image {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 50vw;
        object-fit: cover;
        object-position: center;
    }

    .image2 {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 50vw;
        object-fit: cover;
        object-position: center;

    }

    .titre_slider {
        text-align: center;
        padding: 1.5em;
    }

    .descriptif {
        padding: 2em;
    }

    .container_items {
        flex-direction: inherit;
        flex-direction: row;

    }

    .mama {
        flex-direction: inherit;
        justify-content: inherit;
        flex-direction: row;
    }

    .latotal {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
}


.slider {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 30vh;
}

.slides {
    display: flex;
    margin: 0;
    padding: 0;
    height: 20vh;
    width: 100%;
    animation-duration: 20s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}


.slide {
    float: left;
    height: 20vh;
    width: 100vw;
}

.slide img {
    object-fit: contain;
    width: 100vw;
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }

    9% {
        transform: translateX(-100%);
    }

    18% {
        transform: translateX(-200%);
    }

    27% {
        transform: translateX(-300%);
    }

    36% {
        transform: translateX(-400%);
    }

    45% {
        transform: translateX(-500%);
    }

    54% {
        transform: translateX(-600%);
    }

    63% {
        transform: translateX(-700%);
    }

    72% {
        transform: translateX(-800%);
    }

    81% {
        transform: translateX(-900%);
    }

    90% {
        transform: translateX(-1000%);
    }

    100% {
        transform: translateX(-1100%);
    }


}

.mama {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.round {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
}